body {
	background: url(../image/page-mock.png);
	background-size: 1024px 885px;
	background-repeat: no-repeat;

	font-family: Verdana, sans-serif;
}

.container {
	width: 970px;
	margin: 26px 27px;
}


h1 {
	text-align: center;
    color: #666;
    font-size: 49px;
    font-weight: normal;
    margin-bottom: 27px;
    margin-top: 42px;
    margin-left: -16px;
    letter-spacing: -0.6px;
}

h2 {
	color: #f07c17;
	font-size: 24px;
}

.boxHd {
    padding-left: 3px;
    margin-top: 18px;
}

img {
	width: 374px;
}

.left {
	width: 40%;
	float: left;
}

.right {
	width: 57%;
	float: left;
	margin-top: -22px;
    margin-left: 23px;
}

.box {
	border: 1px solid #ccc;
    width: 318px;
    height: 187px;
    margin-top: 30px;
    padding: 9px 27px 26px;
    margin-left: 7px;
}

p {
	color: #666666;
	font-size: 16px;
    line-height: 32px;
    //font-weight: bold;
}

.p1{
	padding-top: 10px;
    margin-bottom: -6px;
    margin-top: -1px;
}

.p2{
    margin-bottom: -6px;

}

ul {
	color: #666666;
    font-size: 16px;
    line-height: 32px;
    margin-top: 30px;
    margin-left: 3px;
}
